
<nb-sidebar class="menu-sidebar left"
            tag="menu-sidebar" [left]="true"
            responsive>
<div class="menu-sidebar left">



<span class="menulist">

  <a title="Dashboard">
 <i class="ion-funnel"></i>
  <span class="menu-title">Filters</span>
</a>
</span>
<hr>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Brands">
    <ng-template ngbPanelContent>
      <div class="demo-checkboxes">
        <nb-checkbox>Checkbox 1</nb-checkbox>
        <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
      </div>

    </ng-template>
  </ngb-panel>

</ngb-accordion> Message: {{menus}} - {{test}}


</div>
</nb-sidebar>
